# Server Configuration
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=SL4+0Je9SZkfdGer3TL2FUszXsZzJlNt
DB_NAME=eve

# EVE Online API Configuration
#EVE_API_BASE_URL=https://esi.evetech.net
EVE_API_BASE_URL=https://ali-esi.evepc.163.com/
EVE_API_VERSION=latest
EVE_API_LANGUAGE=zh
EVE_API_COMPATIBILITY_DATE=2025-11-06